body {
    padding: 0px;
}
.container {
    display: grid;
    height: 100%vh;
    grid-template-columns: 0.6fr repeat(3, 1fr);
    grid-template-rows: 7fr 20fr 4fr 5fr 3fr 2fr;
    grid-template-areas:
        "nav nav nav nav"
        "logo heading heading heading"
        "about about about about"
        "projects projects projects projects"
        "skills skills skills skills"
        "contact contact contact contact";
    gap: 0.2rem;
    text-align: center;
}
nav {
    font-size: 30px;
    padding: 20px;

    grid-area: nav;
}
a {
    text-decoration: none;
    margin-right: 40px;
}
.logo {


    grid-area: logo;
}
.heading {

    grid-area: heading;
}
.about {

    grid-area: about;
}
.projects {
 
    grid-area: projects;
}
.skills {

    grid-area: skills;
}
.contact {

    grid-area: contact;
}