* {
    font-family: 'Playfair display';
}
body {
    background-color: #121B31;
    padding: 0px;
}
.container {
    display: grid;
    height: 100%vh;
    grid-template-columns: 0.35fr repeat(3, 1fr);
    grid-template-rows: 0.05fr 0.1fr 0.5fr 1fr repeat(2, 0.05fr);
    grid-template-areas:
        "nav nav nav nav"
        "logo heading heading heading"
        "about about about about"
        "projects projects projects projects"
        "skills skills skills skills"
        "contact contact contact contact";
    gap: 0.2rem;
    text-align: cent;

    /*NAV*/
}
nav {
    text-align: end;
    font-size: 30px;
    padding: 20px;
    grid-area: nav;
}
nav :hover {
    color: #D0E156;
}
a {
    color: #F7F7F7;
    text-decoration: none;
    margin-right: 80px;
}
.logo {
    background-image: url(./images/myLogo2.jpg);
    background-repeat: no-repeat;
    background-color: #121B31;
    grid-area: logo;
}

/*HEADING*/

.heading {
    text-align: center;
    color: black;
    font-size: 35px;
    padding-right: 250px;
    background-color: #D0E156;
    grid-area: heading;
}

/*BODY*/
h2 {
    text-align: center;
    font-size: 40px;
}
.about {text-align: center;
    color: #F7F7F7;
    background-color: #121B31;
    font-size: 25px;
    padding-bottom: 20px;
    grid-area: about;
}
#projects {
    background-color: #D0E156;
    color: black;
    font-size: 25px;
    margin: auto;
    padding: 10px;
    grid-area: projects;
}
h4 {
    font-size: 30px;
    text-align: center;
}
#img1 {
    float: left;
    height: 300px;
    width: 300px;
    padding-right: 10px;
    border-radius: 50%;
}
#img2 {
    float: right;
    height: 300px;
    width: 300px;
    padding-left: 10px;
    text-align: justify;
    border-radius: 50%;
}
.text {
    padding: 0px;
    text-align: justify;
}
span {
    font-weight: bold;
}

.skills {
    background-color: #121B31;
    color: #F7F7F7;
    padding: 10px;
    grid-area: skills;
}
.card {
    display: flex;
    justify-content: space-evenly;
}
#skill-logo {
    border-radius: 50%;
    height: 100px;
    width:100px;
}

.contact {
    background-color: #D0E156;
    padding: 10px;
    grid-area: contact;
}